header {
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    background: var(--main-bg-color);
    
}
.navigation {
    height: 120px;
    width: 72%;
    display: flex;
    justify-content: flex-start;
    padding-top: 70px;
}

.menu {
    display:flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    font-size: 1.2rem;
    font-weight: 100;
    width: 100%;
}

.menu a {
    margin-left: 20px;
    font-size: 1.4rem;
    font-weight: 100;
    text-decoration: none;
    color: var(--text-color);
}

nav a:hover {
    background: var(--hover-bg-color);
    border-radius: 15px;
    padding: 8px;
}

header .fa-bars {
    font-size: 2rem;
    color: var(--text-color);
    cursor: pointer;
    z-index: 10;
    display: none;
  }
  .menu i{
      font-size: 1.2rem;
      margin-right: 5px;
  }

/* Media Query */
@media screen and (max-width: 991px) {
    header .fa-bars {
        display: block;
      }
    .menu a {
        font-size: 1rem;
        margin-bottom: 20px;
    }
    .menu{
        display: none;
    }
    .navigation{
        display: flex;
        flex-direction: column;
        width: 100vh;
        height: 260px;
        position: relative;
    }
    .openmenu{
        width: fit-content;
        height: fit-content;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        right: 0%;
        margin: 100px 20px;
        position:fixed;
    }
    .fas{
        margin: 30px;
    }
    }